.wrapper {
    margin-left: 213px;
    width: 100%;
    min-height: 100px;
    padding: 12px 0;
    max-height: calc(90vh - 66px);
    overflow-y: auto;
    overscroll-behavior: contain;
    border-radius: 10px;
    background: white;
    box-shadow: 0 -4px 32px rgba(86, 79, 142, 0.2);
    color: #000000;
}
